.single-podcast-content {
    background-color: #F6EFFF;
    padding: 84px 0 18px;
    font-family: 'Poppins', sans-serif;
}

.single-podcast-content .back-btn {
    text-decoration: none;
    margin-left: 10px;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%;
    font-family: 'Poppins', sans-serif;
}

.single-podcast-content .single-podcast-content-wrapper {
    border-radius: 30px;
    background: #FFF;
    padding: 50px 80px;
}
.single-podcast-content .single-podcast-content-wrapper iframe{
    width: 100%;
    height: 100%;
}
.single-podcast-content .single-podcast-actions-wrapper {
    gap: 63px;
}

.single-podcast-content .single-podcast-actions-wrapper p {
    color: #202020;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%;
    margin-bottom: 6px;
}

.single-podcast-content .single-podcast-actions-wrapper .listen-on-wrapper {
    gap: 10px;
}

.single-podcast-content .single-podcast-actions-wrapper .listen-on-wrapper a {
    display: block;
}

.single-podcast-content .single-podcast-actions-wrapper .share-on-wrapper {
    gap: 10px;
}

.single-podcast-content .single-podcast-actions-wrapper .share-on-wrapper a {
    display: block;
}

.single-podcast-content .text-content {
    margin-top: 40px;
}

.single-podcast-content .text-content p {
    color: #202020;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%;
}

.single-podcast-content .text-content a {
    color: #202020;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%;
    text-decoration-line: underline;
}
.single-podcast-content .podcast-title-wrapper{
    min-height: 410px;
}
@media screen and (max-width:991.9px){
    .single-podcast-content .single-podcast-content-wrapper{
        padding: 20px;
    }
    .single-podcast-content .single-podcast-actions-wrapper{
        gap: 30px;
        flex-direction: column;
    }
    .single-podcast-content .podcast-title-wrapper {
        min-height: unset;
    }
}