/* hero section */
.hero-section {
    font-family: 'Poppins', sans-serif;
    position: relative;
    background-position: center center;
    background-size: cover;
    padding: 130px 0;
}
.hero-section .background-image{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.hero-section .hero-background-dark {
    background: rgba(0, 0, 0, 0.50);
    padding: 43px 0 68px;
}

.hero-section .heroImg {
    /* background-image: url(./img/heroImgBackground.png); */
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 144px 0;
    background-size: contain;
}

.hero-section h1 {
    color: #FFF;
    font-size: 36.764px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 12px;
}

.hero-section p {
    color: #FFF;
    font-size: 18.058px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 0;
    width: 75%;
}

.hero-section .heroCta {
    width: max-content;
    gap: 3px;
    padding: 10px;
    border-radius: 9.029px;
    background: #1BFED1;
    text-decoration: none;
    margin-top: 50px;
}

.hero-section .heroCta span {
    color: #232323;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32.104px;
}

@media screen and (max-width:991.9px) {
    .hero-section {
        padding: 80px 0;
    }

    .hero-section .heroImg {
        padding: 80px 0;
    }

    .hero-section .heroCta {
        margin: 0 auto;
        margin-top: 50px;
    }
}